html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #1c1b1c;
  color: #fff5e9;
}


#app {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}